accelerate
git+https://github.com/huggingface/diffusers@v0.36.0
transformers==4.57.3
para-attn
xformers
sentencepiece
peft==0.17.1

# gradio==5.49.1
--extra-index-url https://download.pytorch.org/whl/cu128; sys_platform == 'win32'
torch==2.10.0+cu128; sys_platform == 'win32'
# nunchaku @ https://github.com/nunchaku-ai/nunchaku/releases/download/v1.2.1/nunchaku-1.2.1+cu12.8torch2.10-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'

--extra-index-url https://download.pytorch.org/whl/cu113
torch; sys_platform == 'linux'
nunchaku==1.2.0; sys_platform == 'linux'
# nunchaku @ https://github.com/nunchaku-ai/nunchaku/releases/download/v1.2.0/nunchaku-1.2.0+torch2.9-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'

